
{% extends 'JVWebBundle::layout.html.twig' %}
{% trans_default_domain 'JVWebBundle' %} 
{% block contact %}
		<section class="section" id="contacte_">
            <div class="container">
                <h2 class="text-center section-title">{{ 'nav.contact'|trans }}</h2>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <ol class="breadcrumb">
                            <li><a href="#inici_">{{ 'nav.start'|trans }}</a></li>
                            <li><a href="#about_">{{ 'nav.about'|trans }}</a></li>
                            <li ><a href="#courses_">{{ 'nav.courses'|trans }}</a></li>
                            <li ><a href="#estudis_">{{ 'nav.studies'|trans }}</a></li>
                            <li class="active">{{ 'nav.contact'|trans }}</li>
                        </ol>               
                    </div>
                </div>
                <div class="container-fluid">
				    <div class="form-style">
						{{ form_start(form, {'action': path('jv_web_index'), 'attr' : {'novalidate': 'novalidate', 'role' : 'form'} }) }}
			            <fieldset>
			                <div class="form-group">
			                    {{ form_label(form.firstName) }}
			                    {{ form_widget(form.firstName, { 'attr' : {'class' : 'form-control'} }) }}
			                    <span class="text-danger">{{ form_errors(form.firstName) }}</span>
			                </div>
			                <div class="form-group">
			                    {{ form_label(form.lastName) }}
			                    {{ form_widget(form.lastName, { 'attr' : {'class' : 'form-control'} }) }}
			                    <span class="text-danger">{{ form_errors(form.lastName) }}</span>
			                </div>
			                
						    <div class="form-group">
						        {{ form_label(form.email) }}
						        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
						        <span class="text-danger">{{ form_errors(form.email) }}</span>
						    </div>
						    
						    <div class="form-group">
						        {{ form_label(form.subject) }}
						        {{ form_widget(form.subject, {'attr': {'class': 'form-control'}}) }}
						        <span class="text-danger">{{ form_errors(form.subject) }}</span>
						    </div>
						    
						    <div class="form-group">
						        {{ form_label(form.body) }}
						        {{ form_widget(form.body, {'attr': {'rows': '10', 'class': 'form-control'}}) }}
						        <span class="text-danger">{{ form_errors(form.body) }}</span>
						    </div>
			
						</fieldset>
						<div class="row">
							<div class="col-sm-12 text-center">
						    	<p>
							        {{ form_widget(form.save, {'attr': {'class': 'btn button btn-green'}}) }}
							        {{ form_widget(form.reset, {'attr': {'class': 'btn button btn-reset'}}) }}
						   		</p>  
	                		</div>
	                	</div>
	                	{{ form_end(form) }}
	                </div>
				</div>
			</div>
		</section>
    
{% endblock %}