{% extends 'JVTaskBundle::edit.html.twig' %}
{% trans_default_domain 'JVTaskBundle' %} 

{% block title %}{{ parent() }} {{ 'type.edit.title'|trans({'%typename%' : type.name }) }}{% endblock %}
{% block theader %}{{ 'type.edit.title'|trans({'%typename%' : type.name }) }} {% endblock %}
{% block tout %}
    <a class="btn btn-default btn-sm" href="{{ path('type_index') }}">{{ 'action.backList'|trans }}</a>                       
{% endblock %}
