{% extends 'JVTaskBundle::newDetail.html.twig' %}
{% trans_default_domain 'JVTaskBundle' %} 

{% block title %}{{ parent() }} {{ 'type.new.title'|trans }}{% endblock %}
{% block theader %}{{ 'type.new.header'|trans }} {% endblock %}
{% block form %}
{{ form_start(form, { 'attr' : {'novalidate': 'novalidate', 'role' : 'form'} }) }}
                <fieldset>
                <div class="form-group">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name, { 'attr' : {'class' : 'form-control'} }) }}
                    <span class="text-danger">{{ form_errors(form.name) }}</span>
                </div>
			    
			    <div class="form-group">
			        {{ form_label(form.description) }}
			        {{ form_widget(form.description, {'attr': {'class': 'form-control' }}) }}
			        <span class="text-danger">{{ form_errors(form.description) }}</span>
			    </div>

			    
			    <div class="form-group">
			        {{ form_label(form.enabled) }}
			        {{ form_widget(form.enabled, {'attr': {'class': 'form-control' }}) }}
			        <span class="text-danger">{{ form_errors(form.enabled) }}</span>
			    </div>
			</fieldset>
				<div class="row">
					<div class="col-sm-12 text-center">
					    <p>
					        {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
					        {{ form_end(form) }}
                                <button class="btn btn-default btn-sm" href="{{ path('type_index') }}">
                                	  	{{ 'action.backList'|trans }}                       
                                </button>
                        </p>
                	</div>
				</div>
{% endblock %}
