{% extends 'JVTaskBundle::show.html.twig' %}
{% trans_default_domain 'JVTaskBundle' %} 

{% block title %}{{ parent() }} {{ 'project.show.title'|trans({'%projectname%' : project.name }) }}{% endblock %}
{% block table %}
{{ parent() }}
    {% block theader %}{{ 'project.show.header'|trans({'%projectname%' : project.name }) }}{% endblock %}
    {% block tbody %}
            <tr>
                <th>{{ 'form.id'|trans }}</th>
                <td>{{ project.id }}</td>
            </tr>
            <tr>
                <th>{{ 'form.name'|trans }}</th>
                <td>{{ project.name }}</td>
            </tr>
            <tr>
                <th>{{ 'form.summary'|trans }}</th>
                <td>{{ project.summary }}</td>
            </tr>
            <tr>
                <th>{{ 'form.remuneration'|trans }}</th>
                <td>{{ project.remuneration }}</td>
            </tr>
            <tr>
                <th>{{ 'form.link'|trans }}</th>
                <td>{{ project.link }}</td>
            </tr>
            <tr>
                <th>{{ 'form.status'|trans }}</th>
                <td>{{ project.status }}</td>
            </tr>
            <tr>
                <th>{{ 'form.startDate'|trans }}</th>
                <td>{% if project.startDate %}{{ project.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'form.endDate'|trans }}</th>
                <td>{% if project.endDate %}{{ project.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'form.createdAt'|trans }}</th>
                <td>{% if project.createdAt %}{{ project.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'form.updatedAt'|trans }}</th>
                <td>{% if project.updatedAt %}{{ project.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'form.enabled'|trans }}</th>
                <td>{% if project.enabled %}{{ 'general.yes'|trans }}{% else %}{{ 'general.no'|trans }}{% endif %}</td>
            </tr>
            {% endblock %}
    {% block tout %}
        {% if is_granted('ROLE_APP_ADMIN') %}
            <li>
                <a class="btn btn-default btn-sm" href="{{ path('project_edit', { 'id': project.id }) }}">{{ 'action.edit'|trans }}</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input class="btn btn-danger btn-sm" type="submit" value="{{ 'action.delete'|trans }}">
                {{ form_end(delete_form) }}
            </li>
        {% endif %}
            <li>
                <a class="btn btn-default btn-sm" href="{{ path('project_index') }}">{{ 'action.backList'|trans }}</a>
            </li>
    {% endblock %}
{% endblock %}
