{% extends 'JVTaskBundle::edit.html.twig' %}
{% trans_default_domain 'JVTaskBundle' %} 

{% block title %}{{ parent() }} {{ 'user.edit.title'|trans({'%username%' : user.username }) }}{% endblock %}
{% block theader %}{{ 'user.edit.title'|trans({'%username%' : user.username }) }} {% endblock %}
{% block tout %}
    <a class="btn btn-default btn-sm" href="{{ path('user_index') }}">{{ 'action.backList'|trans }}</a>                       
{% endblock %}
