{% extends 'JVTaskBundle::new.html.twig' %}
{% trans_default_domain 'JVTaskBundle' %} 

{% block title %}{{ parent() }} {{ 'user.new.title'|trans }}{% endblock %}
{% block theader %}{{ 'user.new.header'|trans }} {% endblock %}
{% block tout %}
    <a class="btn btn-default btn-sm" href="{{ path('user_index') }}">{{ 'action.backList'|trans }}</a>                       
{% endblock %}
