{% extends 'base.html.twig' %}

{% block body %}
    <h1>Assignment</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ assignment.id }}</td>
            </tr>
            <tr>
                <th>Function</th>
                <td>{{ assignment.function }}</td>
            </tr>
            <tr>
                <th>Isactive</th>
                <td>{% if assignment.isActive %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Addedat</th>
                <td>{% if assignment.addedAt %}{{ assignment.addedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('assignment_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('assignment_edit', { 'id': assignment.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
