{% extends 'JVTaskBundle::edit.html.twig' %}
{% trans_default_domain 'JVTaskBundle' %} 

{% block title %}{{ parent() }} {{ 'category.edit.title'|trans({'%categoryname%' : category.name }) }}{% endblock %}
{% block theader %}{{ 'category.edit.title'|trans({'%categoryname%' : category.name }) }} {% endblock %}
{% block tout %}
    <a class="btn btn-default btn-sm" href="{{ path('category_index') }}">{{ 'action.backList'|trans }}</a>                       
{% endblock %}
