{% extends 'JVTaskBundle::list.html.twig' %}
{% trans_default_domain 'JVTaskBundle' %} 

{% block title %}{{ parent() }} {{ 'category.list.title'|trans }}{% endblock %}
{% block table %}
{{ parent() }}
    {% block theader %}{{ 'category.list.header'|trans }}{% endblock %}
    {% block thead %}

		<th>{{ 'form.id'|trans }}</th>
        <th>{{ 'form.name'|trans }}</th>
        <th>{{ 'form.updatedAt'|trans }}</th>
        <th>{{ 'form.enabled'|trans }}</th>
        <th>{{ 'action.label'|trans }}</th>
    {% endblock %}
    {% block tbody %}

	    {% for category in categories %}
	    <tr>
            <td><a href="{{ path('category_show', { 'id': category.id }) }}">{{ category.id }}</a></td>
            <td>{{ category.name }}</td>
            <td>{% if category.updatedAt %}{{ category.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if category.enabled %}{{ 'general.yes'|trans }}{% else %}{{ 'general.no'|trans }}{% endif %}</td>
            <td class="actions">
                <ul>
                    <li>
                        <a class="btn btn-default btn-sm" href="{{ path('category_show', { 'id': category.id }) }}">{{ 'action.show'|trans }}</a>
                    </li>
                {% if is_granted('ROLE_APP_ADMIN') %}
                    <li>
                        <a class="btn btn-default btn-sm" href="{{ path('category_edit', { 'id': category.id }) }}">{{ 'action.edit'|trans }}</a>
                    </li>
                {% endif %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    {% endblock %}
    {% block tout %}
        <a class="btn btn-default btn-sm" href="{{ path('category_new') }}">Create a new entry</a>
    {% endblock %}
{% endblock %}