{% extends 'JVTaskBundle::show.html.twig' %}
{% trans_default_domain 'JVTaskBundle' %} 

{% block title %}{{ parent() }} {{ 'category.show.title'|trans({'%categoryname%' : category.name }) }}{% endblock %}
{% block table %}
{{ parent() }}
    {% block theader %}{{ 'category.show.header'|trans({'%categoryname%' : category.name }) }}{% endblock %}
    {% block tbody %}
            <tr>
                <th>{{ 'form.id'|trans }}</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>{{ 'form.name'|trans }}</th>
                <td>{{ category.name }}</td>
            </tr>
            <tr>
                <th>{{ 'form.description'|trans }}</th>
                <td>{{ category.description }}</td>
            </tr>
            <tr>
                <th>{{ 'form.createdAt'|trans }}</th>
                <td>{% if category.createdAt %}{{ category.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'form.updatedAt'|trans }}</th>
                <td>{% if category.updatedAt %}{{ category.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'form.enabled'|trans }}</th>
                <td>{% if category.enabled %}{{ 'general.yes'|trans }}{% else %}{{ 'general.no'|trans }}{% endif %}</td>
            </tr>
            {% endblock %}
    {% block tout %}
        {% if is_granted('ROLE_APP_ADMIN') %}
            <li>
                <a class="btn btn-default btn-sm" href="{{ path('category_edit', { 'id': category.id }) }}">{{ 'action.edit'|trans }}</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input class="btn btn-danger btn-sm" type="submit" value="{{ 'action.delete'|trans }}">
                {{ form_end(delete_form) }}
            </li>
        {% endif %}
            <li>
                <a class="btn btn-default btn-sm" href="{{ path('category_index') }}">{{ 'action.backList'|trans }}</a>
            </li>
    {% endblock %}
{% endblock %}
