   {% trans_default_domain 'JVWebBundle' %} 
    {% block studies %}    
        <section class="section" id="estudis_">

            <div class="container">

                <h2 class="text-center section-title">{{ 'nav.studies'|trans }}</h2>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <ol class="breadcrumb">
                            <li><a href="#inici_">{{ 'nav.start'|trans }}</a></li>
                            <li><a href="#about_">{{ 'nav.about'|trans }}</a></li>
                            <li ><a href="#courses_">{{ 'nav.courses'|trans }}</a></li>
                            <li class="active">{{ 'nav.studies'|trans }}</li>
                            <li ><a href="#contacte_">{{ 'nav.contact'|trans }}</a></li>
                        </ol>                
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-transparent">
                        <a name="pv_"></a>
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseStudies1">

                            <div class="panel-heading">
                                <div class="panel-title">

                                    <h2>                                        
                                        <strong>{{ 'studies.sps.title'|trans }}</strong>
                                        <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                    </h2>

                                </div>
                            </div>
                        </a>
                        <div id="collapseStudies1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-3 hidden-xs">
                                            <a href="{{ asset('public/files/pdfs/Report_PVSizing.pdf') }}" target="blank"/>
                                            <img class="img-responsive pic-post grow" src="{{ asset('public/files/screenshots/sof-thumb.jpg') }}" alt='{{ 'studies.sps.subtitle1'|trans }}'/>
                                            </a>
                                        </div>

                                        <div class="col-sm-9 col-xs-12">
                                            <h4 class="title-post">  <a href="{{ asset('public/files/pdfs/Report_PVSizing.pdf') }}" target="blank"/>
                                                {{ 'studies.sps.subtitle1'|trans }}</a>  
                                                <a href="{{ asset('public/files/pdfs/Report_PVSizing.pdf') }}" target="blank"/>
                                                <sup class="red"><i class="fa fa-file-pdf-o"></i></sup>
                                                </a>
                                            </h4>

                                            <p class="body-post">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo consequat.
                                            </p>
                                            <p class="body-post">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo consequat.
                                            </p>

                                        </div>
                                    </div>
                                    <hr class="space-small"/>

                                    <div class="row">
                                        <div class="col-sm-3 hidden-xs">
                                            <a href="{{ asset('public/files/pdfs/Report_SolarResource.pdf') }}" target="blank"/>
                                            <img class="img-responsive pic-post grow" src="{{ asset('public/files/screenshots/met-thumb.jpg') }}" alt='{{ 'studies.sps.subtitle2'|trans }}'/>
                                            </a>
                                        </div>

                                        <div class="col-sm-9 col-xs-12">
                                            <h4 class="title-post"> <a href="{{ asset('public/files/pdfs/Report_SolarResource.pdf') }}" target="blank"/>
                                                {{ 'studies.sps.subtitle2'|trans }}</a>
                                                <a href="{{ asset('public/files/pdfs/Report_SolarResource.pdf') }}" target="blank"/>
                                                <sup class="red"><i class="fa fa-file-pdf-o"></i></sup>
                                                </a>
                                            </h4>
                                            <p class="body-post">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo consequat.
                                            </p>
                                            <p class="body-post">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo consequat.
                                            </p>

                                        </div>
                                    </div>
                                    <hr class="space-small"/>

                                    <div class="row">
                                        <div class="col-sm-3 hidden-xs">
                                            <a href="https://github.com/JoanViana/OCW_MIT_PV_TEX" target="blank">
                                                <img class="img-responsive pic-post grow" src="{{ asset('public/files/screenshots/mit-thumb.jpg') }}" alt='{{ 'studies.sps.subtitle3'|trans }}'/>
                                            </a>
                                        </div>

                                        <div class="col-sm-9 col-xs-12">
                                            <h4 class="title-post">  <a href="https://github.com/JoanViana/OCW_MIT_PV_TEX" target="blank">
                                                    {{ 'studies.sps.subtitle3'|trans }}</a>
                                                <a href="{{ asset('public/files/pdfs/OCW_MIT_PV_TEX.pdf') }}" target="blank"/>
                                                <sup class="red"><i class="fa fa-file-pdf-o"></i></sup>
                                                </a>
                                                <a href="https://github.com/JoanViana/OCW_MIT_PV_TEX" target="blank">
                                                    <sup class="black"><i class="fa fa-github"></i></sup>
                                                </a>
                                            </h4>

                                            <p class="body-post">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo consequat.
                                            </p>
                                            <p class="body-post">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo consequat.
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-transparent">
                        <a name="inf_"></a>
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseStudies2">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <h2 >                                        
                                        <strong>{{ 'studies.omm.title'|trans }}</strong>
                                        <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                    </h2>
                                </div>
                            </div>
                        </a>
                        <div id="collapseStudies2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-3 hidden-xs">
                                            <a href="https://github.com/JoanViana" target="blank">
                                                <img class="img-responsive grow" src="{{ asset('public/files/screenshots/git-thumb.jpg') }}" alt='{{ 'studies.omm.subtitle1'|trans }}'/>
                                            </a>
                                        </div>

                                        <div class="col-sm-9 col-xs-12">
                                            <h4 class="title-post"><a href="https://github.com/JoanViana" target="blank"> {{ 'studies.omm.subtitle1'|trans }}  </a> 
                                                <a href="https://github.com/JoanViana" target="blank">
                                                    <sup class="black"><i class="fa fa-github"></i></sup>
                                                </a>
                                            </h4>

                                            <p class="body-post">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo consequat.
                                            </p>

                                            <p class="body-post">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo consequat.
                                            </p>


                                        </div>
                                    </div>

                                    <hr class="space-small"/>

                                    <div class="row">
                                        <div class="col-sm-3 hidden-xs">
                                            <a href="https://c9.io/joanviana" target="black">
                                                <img class="img-responsive grow" src="{{ asset('public/files/screenshots/inf-thumb.jpg') }}" alt='{{ 'studies.omm.subtitle2'|trans }}'/>
                                            </a>
                                        </div>

                                        <div class="col-sm-9 col-xs-12">
                                            <h4 class="title-post"><a href="https://c9.io/joanviana" target="black"> {{ 'studies.omm.subtitle2'|trans }} </a>   
                                                <a href="https://c9.io/joanviana" target="black">
                                                    <img class="icon-sup" src="{{ asset('public/files/images/cloud9.png') }}" alt='Cloud9-link'/>
                                                </a>
                                            </h4>

                                            <p class="body-post">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo consequat.
                                            </p>

                                            <p class="body-post">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo consequat.
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-transparent">
                        <a name="eng_"></a>
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseStudies3">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <h2 >                                        
                                        <strong> {{ 'studies.eng.title'|trans }}</strong>
                                        <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                    </h2>
                                </div>
                            </div>
                        </a>
                        <div id="collapseStudies3" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-3 hidden-xs">
                                            <img class="img-responsive grow" src="{{ asset('public/files/screenshots/eng-thumb.jpg') }}" alt='{{ 'studies.eng.subtitle1'|trans }}'/>
                                        </div>

                                        <div class="col-sm-9 col-xs-12">
                                            <h4 class="title-post"><a href="https://github.com/JoanViana" target="blank"> {{ 'studies.eng.subtitle1'|trans }} </a> 
                                                <a href="https://github.com/JoanViana" target="blank">
                                                    <sup class="red"><i class="fa fa-file-pdf-o"></i></sup>
                                                </a>
                                            </h4>

                                            <p class="body-post">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo consequat.
                                            </p>
                                            <p class="body-post">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo consequat.
                                            </p>


                                        </div>
                                    </div>

                                    <hr class="space-small"/>

                                    <div class="row">
                                        <div class="col-sm-3 hidden-xs">
                                            <img class="img-responsive grow" src="{{ asset('public/files/screenshots/bio-thumb.jpg') }}" alt='{{ 'studies.eng.subtitle2'|trans }}'/>
                                        </div>

                                        <div class="col-sm-9 col-xs-12">
                                            <h4 class="title-post"><a href="https://github.com/JoanViana" target="blank"> {{ 'studies.eng.subtitle2'|trans }} </a> 
                                                <a href="https://github.com/JoanViana" target="blank">
                                                    <sup class="red"><i class="fa fa-file-pdf-o"></i></sup>
                                                </a>
                                            </h4>
                                            <p class="body-post">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo consequat.
                                            </p>
                                            <p class="body-post">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo consequat.
                                            </p>


                                        </div>
                                    </div>                            

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}