{% extends 'JVTaskBundle::editDetail.html.twig' %}
{% trans_default_domain 'JVTaskBundle' %} 

{% block title %}{{ parent() }} {{ 'task.edit.title'|trans({'%taskname%' : task.name }) }}{% endblock %}
{% block theader %}{{ 'task.edit.title'|trans({'%taskname%' : task.name }) }} {% endblock %}
{% block form %}
{{ form_start(edit_form, { 'attr' : {'novalidate': 'novalidate', 'role' : 'form'} }) }}
                <fieldset>
                <div class="form-group">
                    {{ form_label(edit_form.name) }}
                    {{ form_widget(edit_form.name, { 'attr' : {'class' : 'form-control'} }) }}
                    <span class="text-danger">{{ form_errors(edit_form.name) }}</span>
                </div>
                
                <div class="form-group">
			        {{ form_label(edit_form.type) }}
			        {{ form_widget(edit_form.type, {'attr': {'class': 'form-control'}}) }}
			        <span class="text-danger">{{ form_errors(edit_form.type) }}</span>
			    </div>
			    
			    <div class="form-group">
			        {{ form_label(edit_form.project) }}
			        {{ form_widget(edit_form.project, {'attr': {'class': 'form-control'}}) }}
			        <span class="text-danger">{{ form_errors(edit_form.project) }}</span>
			    </div>
                
                <div class="form-group">
			        {{ form_label(edit_form.user) }}
			        {{ form_widget(edit_form.user, {'attr': {'class': 'form-control'}}) }}
			        <span class="text-danger">{{ form_errors(edit_form.user) }}</span>
			    </div>
			    
			    <div class="form-group">
			        {{ form_label(edit_form.summary) }}
			        {{ form_widget(edit_form.summary, {'attr': {'class': 'form-control' }}) }}
			        <span class="text-danger">{{ form_errors(edit_form.summary) }}</span>
			    </div>

			    <div class="form-group">
			        {{ form_label(edit_form.link) }}
			        {{ form_widget(edit_form.link, {'attr': {'class': 'form-control' }}) }}
			        <span class="text-danger">{{ form_errors(edit_form.link) }}</span>
			    </div>
			   <div class="form-group">
			        {{ form_label(edit_form.status) }}
			        {{ form_widget(edit_form.status, {'attr': {'class': 'form-control' }}) }}
			        <span class="text-danger">{{ form_errors(edit_form.status) }}</span>
			    </div>
			    <div class="form-group">
			        {{ form_label(edit_form.startDate) }}
			        {{ form_widget(edit_form.startDate, {'attr': {'class': 'input-group date' }}) }}
			        <span class="text-danger">{{ form_errors(edit_form.startDate) }}</span>
			    </div>
	            <div class="form-group">
			        {{ form_label(edit_form.endDate) }}
			        {{ form_widget(edit_form.endDate, {'attr': {'class': 'input-group date' }}) }}
			        <span class="text-danger">{{ form_errors(edit_form.endDate) }}</span>
			    </div>
			    <div class="form-group">
			        {{ form_label(edit_form.checked) }}
			        {{ form_widget(edit_form.checked, {'attr': {'class': 'form-control' }}) }}
			        <span class="text-danger">{{ form_errors(edit_form.checked) }}</span>
			    </div>
			    <div class="form-group">
			        {{ form_label(edit_form.enabled) }}
			        {{ form_widget(edit_form.enabled, {'attr': {'class': 'form-control' }}) }}
			        <span class="text-danger">{{ form_errors(edit_form.enabled) }}</span>
			    </div>
			</fieldset>
				<div class="row actions">
					<div class="col-sm-4 text-center">
					    
					        {{ form_widget(edit_form.save, {'attr': {'class': 'btn btn-success'}}) }}
					        {{ form_end(edit_form) }}
					   </div>
					   <div class="col-sm-4 text-center">
                                <button class="btn btn-default btn-sm" href="{{ path('task_index') }}">
                                	  	{{ 'action.backList'|trans }}                       
                                </button>
                        </div>
					   <div class="col-sm-4 text-center">
                            {{ form_start(delete_form, { 'attr' : {'novalidate': 'novalidate', 'role' : 'form'} }) }}
                        		<button class="btn btn-danger btn-sm" ><input type="submit" value="{{ 'action.delete'|trans }}"></button>
                    		{{ form_end(delete_form) }}
                        
                	</div>
				</div>
{% endblock %}


			