{% extends 'JVTaskBundle::edit.html.twig' %}
{% trans_default_domain 'JVTaskBundle' %} 

{% block title %}{{ parent() }} {{ 'task.edit.title'|trans({'%taskname%' : task.name }) }}{% endblock %}
{% block theader %}{{ 'task.edit.title'|trans({'%taskname%' : task.name }) }} {% endblock %}
{% block tout %}
    <a class="btn btn-default btn-sm" href="{{ path('task_index') }}">{{ 'action.backList'|trans }}</a>                       
{% endblock %}
